<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="chrono.css">
  <title>Document</title>
</head>
<body>
  <!-- chrono 1 -->
  <!-- <div id="clock">
    <!-- <p class="date">{{ date }}</p> -->
    <!-- <p class="time">{{ time }}</p> -->
    <!-- <p class="text">DIGITAL CLOCK with Vue.js</p> -->
<!-- </div> -->

<!-- chrono 2 -->
<div class="pie degree">
  <span class="block"></span>
  <span id="time">0</span>
</div>

<!-- chrono 3 -->
<div class="timer-group">
  <div class="timer hour">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="timer minute">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="timer second">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="face">
    <h2>A CSS Chronograph</h2>
    <p id="lazy">00:00:00</p>  
  </div>
</div>
<!-- chrono 4 -->
<!-- chrono 5 -->

  <script src="chrono.js"></script>
</body>
</html>