/* global */
/* body {
  background-image: url("images/1_eHf10.jpg");
  background-repeat: no-repeat;
  padding:0;
  margin:0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  height: auto;
} */


/* titre */

h1{
  color: white;
  font-size: 30px;
  text-align: center;
}


/* timer */




/* tableau */
tableau{

}



/* images */

.image-1{
  background-image: url("images/profn1.jpg");
  background-repeat: no-repeat;
}

.image-dormeurn5{
  background-image: url("dormeurn5.jpg");
  width: 255px;
  height: 397px;
  background-repeat: no-repeat;
}

.image-atchoumn6{
  background-image: url("atchoumn6.jpg");
  width: 255px;
  height: 397px;
  background-repeat: no-repeat;
}

.image-grincheuxn3{
  background-image: url("grincheuxn3.jpg");
  width: 255px;
  height: 397px;
  background-repeat: no-repeat;
}

.image-joyeuxn4{
  background-image: url("joyeuxn4.jpg");
  width: 255px;
  height: 397px;
  background-repeat: no-repeat;
}

.image-timiden2{
  background-image: url("timiden2.jpg");
  width: 255px;
  height: 397px;
  background-repeat: no-repeat;
}

.image-simpletn7{
  background-image: url("simpletn7.jpg");
  width: 255px;
  height: 397px;
  background-repeat: no-repeat;
}

.image-bneige8{
  background-image: url("bneige8.jpg");
  width: 255px;
  height: 397px;
  background-repeat: no-repeat;
}

div{
  display: inline-block;
  background-size: cover;
}




/* resultat */



/* responsive media queries*/